<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 

   <div class="container " style="max-width: 70%; margin-top: 6rem;">

    <form action="/login" method="POST" class="needs-validation" novalidate>

        <%- include("../partials/flash") %> 

        <h3 class="display-5 mb-5" style="text-decoration: underline;">Signin Here</h3>

   
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="colFormLabel" placeholder="User name" required name="username">
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Enter Valid Data
              </div>
            </div>
          </div>

    
      <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="colFormLabel" placeholder="Password" required name="password">          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Enter Valid Data
          </div>
        </div>
      </div>

      <div class=" m-4 text-center">
        <button  type="Register" class="btn btn-success ">Signin</button>
      </div>
      

    
      
    </form>
   </div>



<%- include("../partials/footer") %> 
