<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 


<div class="container" style="margin-top: 6rem;">
<%- include("../partials/flash") %> 
</div>



<%- include("../partials/footer") %> 